/.fleet
/.idea
/.vscode
/node_modules
/public/build
/public/build.zip
/public/hot
/public/storage
/public/vendor/telescope
/packages
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
build.zip
colors.json
Homestead.json
Homestead.yaml
npm-debug.log
soketi.json
yarn-error.log
